doctype html
html
    title Help Me!
    head
        link(rel="stylesheet", href="css/style.css")
    body
    h4 Author: #{data.author}
    h4 Address: #{data.address}
    h4 Content: #{data.content}
    h4 Altitude: #{data.altitude}
    h4 Latitude: #{data.latitude}
    h4 Longitude: #{data.longitude}
    h4 Time: #{time}
    h4 Date: #{date}
    h4 Address: #{data.address}
    h4 Post Id: #{data.uniquePostId}
    h4 Map link: #{maplink}
    img(src='#{data.photoURL}' alt='help me' border='0' width='15%')
